<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>Sexy Git Diff!</title>
		<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
		<script src="javascript/jquery-1.7.1.min.js" type="text/javascript"></script>
		<script src="javascript/application.js" type="text/javascript"></script>
	</head>
	<body>
    <section class="configuration">
			<form action="/" method="get">
				<div>
					<input type="text" name="repository" id="repository" value="<%= h params[:repository] %>" placeholder="From repository..." />
					<input type="text" name="from_commit" id="from_commit" value="<%= h params[:from_commit] %>" placeholder="From commit..." />
					<input type="text" name="to_commit" id="to_commit" value="<%= h params[:to_commit] %>" placeholder="To commit..." />
				</div>
				<div>
					<textarea name="files" id="files" placeholder="Files..."><%= h params[:files] %></textarea>
				</div>
				<div>
					<input type="submit" value="Sexy Diffs! &raquo;" />
					or <a href="/">cancel...</a>
				</div>
			</form>
		</section>

		<% if @repo %>
			<section class="information">
				<h1>Last 10 commits...</h1>	
				<ul>
					<% @repo.commits.each do |commit| %>
						<li><strong><%= h commit.message %></strong> - <em><%= commit.sha %></em></li>
					<% end %>
				</ul>
				<% if @diffs.size > 0 %>
					<p>
						<%= @diffs.size %> diff(s) from
						<strong><%= @from_sha %></strong> to <strong><%= @to_sha %></strong>.
					</p>
					<ul>
						<% @diffs.each do |d| %>
							<li><a href="#<%= h d.b_path %>" title="See diff"><%= d.b_path %></a></li>
						<% end %>
					</ul>
				<% end %>
			</section>

			<section class="diffs">
				<% @diff_presenters.each do |d| %>
					<article class="diff">
					  <p class="actions">
						  <img src="images/minus_alt_16x16.png" alt="-" class="window-button" />
						</p>
						<h1 id="<%= h d.diff.b_path %>"><%= d.diff.b_path %></h1>
						<table>
							<% d.content.each do |l| %>
								<tr>
									<td class="<%= l[:type] %>"><%= h l[:line] %></td>
								</tr>
							<% end %>
						</table>
					</article>
					<% if d != @diff_presenters.last %>
						<hr />
					<% end %>
				<% end %>
			</section>
		<% end %>
	</body>
</html>
